---
layout: page
title: Yao Jun's Blog
description: Technical blog posts.
---

<h1>Blog</h1>

<div class="blog-list">
  {% for post in site.posts %}
  <article class="blog-entry">
    <time class="blog-date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%Y-%m-%d" }}
    </time>
    <a class="blog-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </article>
  {% endfor %}

  {% if site.posts.size == 0 %}
  <p class="blog-empty">No posts yet. Stay tuned.</p>
  {% endif %}
</div>
